<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="utf-8" />
      <title>今日は、こんな気持ち。</title>
  </head>
  <body>
    <header>
      <h1>今日は、こんな気持ち。</h1>
      <nav>
        <ul>
          <li><a href="#">ホーム</a></li>
          <li><a href="#">気持ち登録</a></li>
          <li><a href="#">ログアウト</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div>
      <p>私</p>
      <p>٩( 'ω' )و</p>
      <p>みんなの気持ち一覧</p>
      <ul>
        <li>
          <p>たろう</p>
          <p>（´-`）.｡oO</p>
        </li>
        <li>
          <p>はなこ</p>
          <p>( *｀ω´)</p>
        </li>
        <li>
          <p>じろう</p>
          <p>(*^▽^*)</p>
        </li>
      </ul>
      </div>
    </section>
  </body>
</html>