<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="utf-8" />
      <title>今日は、こんな気持ち。</title>
  </head>
  <body>
    <header>
      <h1>今日は、こんな気持ち。</h1>
      <nav>
        <div><a href="#">新規登録</a></div>
          <div><a href="#">ログイン</a></div>
      </nav>
    </header>
    <section>
      <div>
      <p>みんなと今の気持ちをシェアしてみよう！</p>
      <p>できること</p>
      <ul>
        <li>
          <p>自分の気持ちを絵文字で見える化できる</p>
        </li>
        <li>
          <p>自分の気持ちを相手とシェアできる</p>
        </li>
      </ul>
      </div>
    </section>
  </body>
</html>